@import url('https://fonts.googleapis.com/css?family=Chilanka|Oswald:300&display=swap');


body {
  background-color: skyblue;
  margin: 0;
  font-family: 'Oswald', sans-serif;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.header {
  background-color: lightseagreen;
  height: 300px;
  color: white !important;
  text-align: center;
}

.h2 {
  color: purple !important;
  font-weight: bold
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
